langchain
langgraph
langsmith
qdrant-client
openai
llama-index
streamlit
requests
pypdf
python-dotenv
sentence-transformers
spacy
pillow
transformers
torch
langchain-groq
langchain-huggingface
langchain-community
